@charset "UTF-8";
/*Estilos Pagina Web Alto Studio by Andrea Amaya*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  height: 60px;
  position: sticky;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); }
  nav .header__logo img {
    height: 25px; }
  nav .header__navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    list-style: none;
    width: 60%;
    margin: 0;
    padding: 0; }
    nav .header__navigation li {
      margin: 5%; }
      nav .header__navigation li a {
        text-decoration: none;
        text-transform: uppercase; }

section#hero-box {
  height: 55vh;
  margin: 0;
  padding-top: 3%; }

section#metodologia {
  height: 55vh;
  margin: 0;
  padding-top: 3%; }

.fila-seccion {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: center; }

.fila-elemento {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center; }

.container-4 {
  padding-left: 6%; }

.container-6 {
  padding: 0 6% 0 4%; }

section#quienes-somos {
  padding: 4% 0 4% 2%; }

.container-8 {
  align-content: center;
  margin-left: 9%; }

section#nuestros-clientes {
  padding-top: 5%;
  padding-bottom: 5%;
  height: 50vh; }

section#index-boton {
  padding-top: 5%;
  padding-bottom: 5%;
  height: 40vh; }

footer {
  padding-top: 5%;
  padding-bottom: 2%; }

.footer-navigation {
  margin-bottom: 5%; }
  .footer-navigation ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    list-style: none;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0; }
    .footer-navigation ul li img {
      height: 20px; }

p.texto-pequeño {
  margin-top: 5%; }

div.margen-8 {
  margin-left: 8%; }

section.principal {
  padding: 3% 8% 3% 0;
  height: auto; }

div.margen-centro {
  padding: 3%; }

div.margen-top-bottom {
  padding: 5% 0 5% 0; }

div.margen-top-bottom-2 {
  padding: 2% 5% 2% 0; }

section.boton-call-to-action {
  padding: 5%;
  height: auto; }

div#imagen-fondo {
  height: 55vh;
  width: 100%;
  margin: 0;
  padding-top: 5%; }

section.secundaria {
  height: auto; }

section.ubicacion {
  height: auto;
  margin-bottom: 5%; }

div.imagen-gracias {
  height: 100vh;
  width: 100%;
  margin: 2% 0 2% 0;
  padding-top: 5%; }

div.fila-portafolio {
  margin: 2% 0 2% 0;
  position: relative;
  z-index: -10; }

.container-contacto {
  margin: 2% 0 5% 0;
  position: relative;
  z-index: -200; }

p.direccion {
  margin: 0; }

/*Bucles*/
.container-1 {
  width: 10%; }

.container-2 {
  width: 20%; }

.container-3 {
  width: 30%; }

.container-4 {
  width: 40%; }

.container-5 {
  width: 50%; }

.container-6 {
  width: 60%; }

.container-7 {
  width: 70%; }

.container-8 {
  width: 80%; }

.container-9 {
  width: 90%; }

.container-10 {
  width: 100%; }

/*Colores*/
body {
  background-color: #ffffff; }

header {
  background-color: #00007c; }
  header .header__navigation li a {
    color: #ffffff; }

section#hero-box {
  width: 100%;
  background-image: url(../images/index/hero-box.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

h1 {
  color: #00007c; }

p.texto-gigante {
  color: #00007c; }

p.link-index a {
  color: #3f30f5; }

h2 {
  color: #00007c; }

p.texto-general {
  color: #000000; }

section#metodologia {
  background-color: #e3e3e3; }

section#nuestros-clientes {
  background-color: #e3e3e3; }

footer {
  background-color: #333333; }
  footer .footer-navigation ul li a {
    color: #ffffff; }
  footer p {
    color: #ffffff; }

.fila-seccion {
  color: #e3e3e3; }

h3 {
  color: #000000; }

p.descripcion-equipo {
  color: #000000; }

section.boton-call-to-action {
  background-color: #e3e3e3; }

div#imagen-fondo {
  background-image: url(../images/servicios/nuestra-metodologia.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

div.imagen-gracias {
  background-image: url(../images/gracias-imagen.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

/*Tipografías*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%; }

header .header__navigation li a {
  font-family: "Poppins", sans-serif;
  font-size: 1.6em;
  font-weight: 500; }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 3% 8%; }

section#hero-box h1.titulo-inicio {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2em;
  text-align: left;
  margin: 0 0 3% 8%;
  text-transform: inherit; }

p.texto-gigante {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 3.6em;
  text-align: left;
  margin: 3% 8% 3% 8%; }

p.link-index a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em; }

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 600; }

.align-left {
  text-align: left;
  margin: 0 0 3% 8%;
  padding: 0; }

.align-right {
  text-align: right;
  margin: 0 8% 3% 8%;
  padding: 0; }

.align-center {
  text-align: center;
  margin: 0;
  padding: 0; }

p.texto-general {
  font-family: "Roboto", sans-serif;
  font-size: 1.6em;
  line-height: 1.9em; }

footer .footer-navigation ul li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 500; }

p.texto-pequeño {
  font-size: 1.2em; }

p.direccion {
  font-size: 1.1em; }

h4 {
  font-size: 1.2em;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.texto-mayuscula {
  text-transform: uppercase; }

.form-suscripcion {
  font-size: 1.2em; }

h3 {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center; }

p.descripcion-equipo {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  text-transform: capitalize;
  font-weight: 500; }

div.container label {
  font-size: 1.6em; }

p.texto-carrusel {
  font-size: 1.8em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5); }

h5 {
  color: #ffffff;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.5); }

/*Botones*/
.button--check {
  font-size: 30px;
  color: #ffffff;
  line-height: 8px;
  cursor: pointer;
  display: none; }

#check {
  display: none; }

.button {
  border-radius: 4px; }

.button--primary {
  background-color: #3f30f5;
  text-align: center;
  margin: 3%;
  border-radius: 4px;
  border-style: none;
  transition: background-color 0.1s;
  height: 50px; }
  .button--primary a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 200;
    color: #ffffff; }

.button--secondary {
  border-style: none;
  background-color: #f3f3f3;
  color: #3f30f5;
  font-weight: 600;
  text-transform: uppercase;
  height: 25px; }

.button--terciary {
  border: 2px solid #3f30f5;
  background-color: #ffffff;
  color: #3f30f5;
  font-weight: 600;
  text-transform: uppercase;
  height: 25px;
  width: auto;
  margin: 3% 0 3% 8%; }

/*Animaciones*/
.button--primary:hover {
  background-color: #f3f3f3;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.4s; }
  .button--primary:hover a {
    color: #3f30f5;
    font-weight: 500; }

.button--secondary:hover, p.link-index .button--terciary:hover {
  background-color: #3f30f5;
  color: #ffffff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

p.link-index .button--terciary:hover a {
  color: #ffffff; }

header .header__navigation li a:hover {
  color: #ffc41f;
  text-decoration: none;
  font-size: 1.7em; }

footer .footer-navigation ul li a:hover {
  text-decoration: none;
  color: #3f30f5; }

.texto-animado {
  animation: barrido-texto 1s cubic-bezier(0.25, 0.1, 0.25, 1); }

@keyframes barrido-texto {
  from {
    opacity: 0;
    transform: translateX(-30px); }
  to {
    opacity: 1;
    transform: translateX(0); } }

div.fila-elemento img:hover {
  cursor: pointer; }

/*Media Queries*/
@media screen and (max-width: 992px) {
  body {
    overflow-x: hidden; }
  header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    align-items: center; }
    header nav .button--check {
      display: block; }
    header nav .header__navigation {
      position: absolute;
      widows: 100;
      height: 100vh;
      background-color: #e3e3e3;
      top: 60px;
      right: -100%;
      text-align: center;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      z-index: 1000000000000000000000000 !important;
      transition: all 0.5s; }
      header nav .header__navigation li {
        display: block;
        margin: 30px;
        line-height: 30px; }
        header nav .header__navigation li a {
          color: #00007c;
          font-weight: 600; }
  #check:checked ~ .header__navigation {
    right: 0; }
  footer {
    height: auto; }
    footer .footer-navigation ul {
      display: flex;
      flex-direction: column; }
      footer .footer-navigation ul li {
        display: block;
        margin: 10px;
        line-height: 20px; }
        footer .footer-navigation ul li img {
          height: 15px; }
    footer .fila-seccion {
      display: none; }
  .fila-seccion {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0 8% 0 0; }
  section#hero-box {
    height: auto; }
  section#metodologia {
    height: auto;
    padding: 5% 0 5% 0; }
    section#metodologia svg.ilustracion-trabajo {
      width: 80%;
      display: flex;
      justify-content: center;
      margin-left: 10%; }
  section#nuestros-clientes {
    height: auto;
    padding: 5% 0 5% 0;
    vertical-align: center; }
    section#nuestros-clientes img {
      margin: 6%; }
  section#index-boton {
    height: 30vh;
    padding: 5% 0 5% 0;
    align-self: center;
    vertical-align: center; }
  section#quienes-somos {
    height: auto;
    padding: 5% 0 5% 0; }
  .container-4 {
    padding: 5% 0 5% 0;
    align-self: center; }
  .align-right {
    text-align: left; }
  .col-sm-12 {
    margin: 2% 0 2% 0; }
  section.principal {
    height: auto;
    margin: 3% 0; }
  div#imagen-fondo {
    height: 60vh; }
  .fila-elemento {
    margin: 0 3%; }
  svg.team-work {
    display: block;
    width: 100%;
    margin: 0 auto; }
  .container-3 {
    width: 100%; }
  .container-4 {
    width: 100%; }
  .container-5 {
    width: 100%; }
  .container-6 {
    width: 100%; }
  .container-7 {
    width: 100%; }
  .container-8 {
    width: 100%; }
  .container-9 {
    width: 100%; }
  .container-10 {
    width: 100%; } }

@media screen and (max-width: 768px) {
  div#imagen-fondo {
    height: 80vh; } }
