body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    @include flex-box (space-around,row,nowrap);
    height: 60px;
    position: sticky;
    box-shadow: $shadow;
    .header__logo {
        img {height: 25px;}
    }
    .header__navigation {
        @include flex-box (space-evenly,row,nowrap);
        list-style: none;
        width: 60%;
        margin: 0;
        padding: 0;
        li {
            margin: 5%;
            a {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
section#hero-box {
    height: 55vh;
    margin: 0;
    padding-top: 3%;
}

section#metodologia {
    height: 55vh;
    margin: 0;
    padding-top: 3%;
}
.fila-seccion {
    @include flex-box (space-around,row,nowrap);
}
.fila-elemento {
    @include flex-box (center,column,nowrap);
}
.container-4 {
    padding-left: 6%;
}
.container-6 {
    padding: 0 6% 0 4%;
}
section#quienes-somos {
    padding: 4% 0 4% 2%;
}
.container-8 {
    align-content: center;
    margin-left: 9%;
}
section#nuestros-clientes {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 50vh;
}
section#index-boton {
    padding-top: 5%;
    padding-bottom: 5%;
    height: 40vh;
}
footer {
    padding-top: 5%;
    padding-bottom: 2%;
}
.footer-navigation {
    margin-bottom: 5%;
    ul {
        @include flex-box (space-evenly,row,nowrap);
        list-style: none;
        margin-left: 2%;
        margin-right:2%;
        padding: 0;
        li {
            img {
                height: 20px;
            }
        }
    }
}
p.texto-pequeño {
    margin-top: 5%;
}
div.margen-8 {
    margin-left:8%;
}
section.principal {
    padding: 3% 8% 3% 0;
    height: auto;
}
div.margen-centro {
    padding: 3%;
}
div.margen-top-bottom {
    padding: 5% 0 5% 0;
}
div.margen-top-bottom-2 {
    padding: 2% 5% 2% 0;
}
section.boton-call-to-action {
    padding: 5%;
    height: auto;
}
div#imagen-fondo {
    height: 55vh;
    width: 100%;
    margin: 0;
    padding-top: 5%;
}
section.secundaria {
    height: auto;
}
section.ubicacion {
    height: auto;
    margin-bottom: 5%;
}
div.imagen-gracias {
    height: 100vh;
    width: 100%;
    margin: 2% 0 2% 0;
    padding-top: 5%;
}
div.fila-portafolio {
    margin: 2% 0 2% 0;
    position: relative;
    z-index: -10;
}
.container-contacto {
    margin: 2% 0 5% 0;
    position: relative;
    z-index: -200;
}
p.direccion {
    margin: 0;
}
/*Bucles*/
@for $i from 1 through 10 {
    .container-#{$i} {width: 10%*$i}
}