$gris-claro: #f3f3f3;
$gris-medio: #e3e3e3;
$amarillo: #ffc41f;
$azul-medio: #3f30f5;
$rosa: #fa045f;
$gris-oscuro: #333333;
$azul-oscuro: #00007c;
$gris-secundario: #cccccc;
$negro: #000000;
$blanco: #ffffff;
$rosa-claro: #f29898;
$celeste: hsl(229, 68%, 71%);
$navy: #0e1849;
$gris-pleno:#303030;

$texto-general:'Roboto', sans-serif;
$titulos-pagina: 'Poppins', sans-serif;
$navegacion-header: 'Poppins', sans-serif;
$navegacion-footer: 'Poppins', sans-serif;