//colores 

$gris-claro: #f3f3f3;
$gris-medio: #e3e3e3;
$amarillo: #ffc41f;
$azul-medio: #3f30f5;
$rosa: #fa045f;
$gris-oscuro: #333333;
$azul-oscuro: #00007c;
$gris-secundario: #cccccc;
$negro: #000000;
$blanco: #ffffff;
$gris-pleno:#303030;


//familias tipográficas

$texto-general:'Roboto', sans-serif;
$texto-titulos: 'Poppins', sans-serif;

//mixins 

@mixin flex-box ($justify-content, $flex-direction, $wrap) {
    display: flex;
    flex-flow: $flex-direction $wrap;
    justify-content: $justify-content;
    align-content: center;
    align-items: center;    
}
